html,body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 7%;
    background-color: #0a1220;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.header{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.header > ul{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.header > ul > li{
    list-style-type: none;
}
.header > ul > li > a{
    color: #ffffff92;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.header > ul > li > a:hover{
    color: #ffffff;
    font-size: 22px;
}

#logo{
    width: 10%;
    height: auto;
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-card{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form > h1{
    font-size: 48px;
}

form{
    width: 90%;
}

.row{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 5px;
}
.row > input{
    width: 100%;
    height: 28px;
    border: solid 1px rgb(163, 163, 163);
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 10px;
}
.row > input:focus{
    box-shadow: 0 0 10px rgba(9, 23, 75, 0.494);
    border: solid 1px transparent;
    outline: none;
}
.row > label{
    font-size: 26px;
}

.form > button{
    width: 70%;
    height: 50px;
    background-color: #0a1220;
    color: white;
    font-size: 26px;
    border-radius: 20px;  
    margin-top: 10px;
    transition: all 0.2s ease;
    border: none;
}
.form > button:hover{
    background-color: #213659;
    color: white;
    transform: scale(1.05);
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
.link > a{
    text-decoration: none;
    color:#2b5192;
}

.filter{
    width: 100%;
    height: 100%;
}


