html,body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 7%;
    background-color: #0a1220;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.header{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
}
.header > ul{
    display: flex;
    justify-content: center;
    gap: 70px;
}
.header > ul > li{
    list-style-type: none;
}
.header > ul > li > a{
    color: #ffffff92;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.header > ul > li > a:hover{
    color: #ffffff;
    font-size: 22px;
}

#logo{
    width: 10%;
    height: auto;
}
.leave{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave > form > button{
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 20px;  
    transition: all 0.2s ease;
    border: 1px solid #0a1220;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leave > form > button:hover{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-card{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form > h1{
    font-size: 48px;
}

form{
    width: 90%;
}

.row{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 5px;
}
.row > input{
    width: 100%;
    height: 28px;
    border: solid 1px rgb(163, 163, 163);
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 10px;
}
.row > input:focus{
    box-shadow: 0 0 10px rgba(9, 23, 75, 0.494);
    border: solid 1px transparent;
    outline: none;
}
.row > label{
    font-size: 26px;
}

.form > button{
    width: 70%;
    height: 50px;
    background-color: #0a1220;
    color: white;
    font-size: 26px;
    border-radius: 20px;  
    margin-top: 10px;
    transition: all 0.2s ease;
    border: none;
}
.form > button:hover{
    background-color: #213659;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
.link > a{
    text-decoration: none;
    color:#2b5192;
}

.filter{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zagolovok{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.elements{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}

.elements > input{
    width: 17%;
    height: 40%;
    border: solid 1px rgb(163, 163, 163);
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px 10px;
}
.elements > input:focus{
    box-shadow: 0 0 5px rgba(9, 23, 75, 0.494);
    outline: none;
}

#search{
    width: 30%;
    height: 40%;
}

.elements > select{
    width: 13%;
    height: 58%;
    border: solid 1px rgb(163, 163, 163);
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px 10px;
}

.elements > select:focus{
    outline: none;
}

#dept-select{
    width: 10%;
    height: 58%;
    border: solid 1px rgb(163, 163, 163);
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px 10px;
}

.elements > button{
    width: 9%;
    height: 58%;
    background-color: #0a1220;
    color: white;
    font-size: 18px;
    border-radius: 20px;  
    transition: all 0.1s ease;
    border: solid 1px #0a1220;
}

.elements > button:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.elements > a{
    width: 9%;
    height: 58%;
    background-color: #0a1220;
    color: white;
    font-size: 18px;
    border-radius: 20px;  
    transition: all 0.1s ease;
    border: solid 1px #0a1220;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.elements > a:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.list{
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.list > table{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 20px;
    border-collapse: collapse;
}

.list > table > thead{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    background-color: #577fc527;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.list > table > thead > tr{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list > table > thead > tr > th{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-bottom: 1px solid rgb(163, 163, 163);
    border-right: 1px solid rgb(163, 163, 163);
    padding: 0;
    font-size: 18px;
}

#column1{
    border-right: none;
}
#column2{
    border-right: none;
}

.list > table > tbody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.list > table > tbody > tr{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.list > table > tbody > tr > td{
    width: 15%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-bottom: 1px solid rgb(163, 163, 163);
    border-right: 1px solid rgb(163, 163, 163);
    padding: 0;
    font-size: 18px;
}

.list > table > tbody > tr > td > a{
    width: 60%;
    height: 58%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;  
    transition: all 0.1s ease;
    border: solid 1px #0a1220;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.list > table > tbody > tr > td > a:hover{
    background-color: #4b6eab2a;;
}

.reg{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row-reg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 5px;
}
.row-reg > input{
    width: 300px;
    height: 20px;
    border: solid 1px rgb(163, 163, 163);
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
}
.row-reg > input:focus{
    box-shadow: 0 0 5px rgba(9, 23, 75, 0.269);
    border: solid 1px transparent;
    outline: none;
}
.row-reg > label{
    font-size: 18px;
}


