# Сгенерировать ключ: python -c "from secrets import token_urlsafe; print(token_urlsafe(50))"
DJANGO_SECRET_KEY=your-secret-key-here

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,2.26.17.182

# База данных
DB_PASSWORD=change_me_strong_password