{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ContactBook{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="" id="logo">
        {% if request.user.is_authenticated %}
        <!-- Кнопка Бургер (три полоски) - видна только на мобильных -->
        <div class="burger-menu" onclick="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="header nav-links" id="mainNav">
            <ul>
                <li><a href="{% url 'contactbook:employee_list' %}" class="{% if request.resolver_match.url_name == 'employee_list' %}nav-active{% endif %}" data-text="Контакты сотрудников">Контакты сотрудников</a></li>
                <li><a href="{% url 'contactbook:contact_list' %}" class="{% if request.resolver_match.url_name == 'contact_list' and not request.GET.owner_id %}nav-active{% endif %}">Внешние контакты</a></li>
                <li><a href="{% url 'contactbook:favorite_list' %}" class="{% if request.resolver_match.url_name == 'favorite_list' %}nav-active{% endif %}" data-text="Избранное">Избранное</a></li>
                <li><a href="{% url 'contactbook:my_profile' %}" class="{% if request.resolver_match.url_name == 'my_profile' %}nav-active{% endif %}" data-text="Профиль">Профиль</a></li>
                {% if request.user.is_authenticated and request.user.employee_profile.role == 'admin' %}
                    <li><a href="{% url 'contactbook:organization_structure' %}" class="{% if request.resolver_match.url_name == 'organization_structure' %}nav-active{% endif %}" data-text="Структура">Структура</a></li>
                    <li><a href="{% url 'contactbook:deleted_employees' %}" class="{% if request.resolver_match.url_name == 'deleted_employees' %}nav-active{% endif %}" data-text="Удаленные сотрудники">Удаленные сотрудники</a></li>
                {% endif %}
            </ul>
            
            <div class="leave">
                {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'contactbook:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">Выйти</button>
                    </form>
                {% endif %}
            </div>
        </nav>
        {% endif %}
    </header> 

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <div class="theme-switch-wrapper">
        <span class="theme-label" id="theme-label">Светлая тема</span>
        <label class="theme-switch" for="theme-toggle">
            <input type="checkbox" id="theme-toggle">
            <span class="theme-slider">
                <span class="icon sun"></span>
                <span class="icon moon"></span>
            </span>
        </label>
    </div>


</body>
<script>
    function toggleMobileMenu() {
        const nav = document.getElementById('mainNav');
        const burger = document.querySelector('.burger-menu');
        
        nav.classList.toggle('active');
        burger.classList.toggle('toggle');
    }
    // ===============Тёмная тема================
    document.addEventListener('DOMContentLoaded', function() {
        const themeToggle = document.getElementById('theme-toggle');
        const themeLabel = document.getElementById('theme-label');
        const body = document.body;

        const savedTheme = localStorage.getItem('theme');
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

        if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
            body.classList.add('dark-theme');
            themeToggle.checked = true;
            if (themeLabel) themeLabel.textContent = 'Тёмная тема';
        } else {
            if (themeLabel) themeLabel.textContent = 'Светлая тема';
        }

        themeToggle.addEventListener('change', function() {
            if (this.checked) {
                body.classList.add('dark-theme');
                localStorage.setItem('theme', 'dark');
                if (themeLabel) themeLabel.textContent = 'Тёмная тема';
            } else {
                body.classList.remove('dark-theme');
                localStorage.setItem('theme', 'light');
                if (themeLabel) themeLabel.textContent = 'Светлая тема';
            }
        });
    });
</script>
</html>