{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ContactBook{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="" id="logo">
        <nav class="header">
            <ul>
                <li><a href="{% url 'contactbook:employee_list' %}">Контакты сотрудников</a></li>
                <li><a href="{% url 'contactbook:contact_list' %}">Внешние контакты</a></li>
                <li><a href="{% url 'contactbook:favorite_list' %}">Избранное</a></li>
                <li><a href="{% url 'contactbook:my_profile' %}">Профиль</a></li>
                {% if request.user.is_authenticated and request.user.employee_profile.role == 'admin' %}
                    <li><a href="{% url 'contactbook:organization_structure' %}">Структура</a></li>
                    <li><a href="{% url 'contactbook:deleted_employees' %}">Удаленные сотрудники</a></li>
                {% endif %}
            </ul>
            
            <div class="leave">
                {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'contactbook:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">Выйти</button>
                    </form>
                {% endif %}
            </div>
        </nav>
    </header> 

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>