{% extends "base.html" %}
{% block title %}Удаление сотрудника{% endblock %}

{% block content %}
<div class="reg">
    <h1>Подтвердите удаление сотрудника</h1>
    <p style="font-size: 18px; margin: 20px 0;">
        Вы действительно хотите удалить карточку:<br>
        <strong>{{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name|default:"" }}</strong>?
    </p>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="button-container">
            <button type="submit" class="btn btn-delete">Да, удалить</button>
            <a href="{% url 'contactbook:employee_detail' employee.pk %}" class="btn btn-secondary">Отмена</a>
        </div>
    </form>
</div>
{% endblock %}