{% extends "base.html" %}
{% block title %}Список сотрудников{% endblock %}

{% block content %}
<div class="filter">
    <input type="text" name="poisk" placeholder="Поиск по ФИО">
    <select name="department" id="department">
        <option value=""></option>
    </select>
    <select name="subdivision" id="subdivision">
        <option value=""></option>
    </select>
    <select name="position" id="position">
        <option value=""></option>
    </select>
</div>
<div class="list">
    <table border="1">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Должность</th>
                <th>Отдел</th>
                <th>Подразделение</th>
                <th>Телефон</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}