{% extends "base.html" %}
{% block title %}Вход в систему{% endblock %}

{% block content %}
<div class="auth-card">
    <form method="post" action="{% url 'contactbook:login' %}">
        {% csrf_token %}
        <div class="form">
            <h1>Вход</h1>
            <div class="row">
                <label for="login">Логин: </label>
                <input type="text" placeholder="Введите логин" id="login" name="username" required>
            </div>
            <div class="row">
                <label for="pass">Пароль:</label>
                <input type="password" placeholder="Введите пароль" id="pass" name="password" required>
            </div>
            
            {% if form.non_field_errors %}
                <div class="error-box">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            <button type="submit" href="{% url 'contactbook:employee_list' %}">Войти</button>
            <div class="link">
                <p>Нет аккаунта?</p>
                <a href="{% url 'contactbook:register' %}">Зарегистрироваться</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}